{% load static %}


<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'fronted/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
    <script type="module" crossorigin src="{%  static 'frontend/assets/index-DB0xvqtZ.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'frontend/assets/index-C9MX--wT.css' %}">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
